@import "_colors.scss";

.footer {
  position: relative;
  z-index: 1;
  border-radius: 43px 43px 0px 0px;
  background-color: $black;

  &__warning {
    @media (max-width:1200px) {
      width: 100%;
      text-align: center;
    }
  }

  &-body {
    padding: 72px 0 68px;

    @media (max-width:1200px) {
      padding: 52px 0 50px;
    }

    @media (max-width:767px) {
      padding: 30px 20px;
    }
  }

  &-row {
    display: flex;

    @media (max-width:1200px) {
      justify-content: space-between;
    }

    @media (max-width:767px) {
      flex-direction: column;
      justify-content: unset;
      align-items: center;
    }

    .text {
      color: $white;
    }

    &:not(:first-child) {
      margin: 48px 0 0;

      @media (max-width:1200px) {
        margin: 30px 0 0;
      }
    }
  }

  &-col {
    display: flex;
    flex-direction: column;


    &._desctop-hidden {
      width: 100%;
      margin: 0 !important;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .footer-col__logo {
        height: 35px;
      }

      .footer-col__links-item {
        margin: 0 !important;
      }

      @media (min-width:1201px) {
        display: none;
      }

      @media (max-width:767px) {
        flex-direction: column;
      }
    }

    &._mobile-hidden {
      @media (max-width:1200px) {
        display: none;
      }
    }

    @media (max-width:767px) {
      align-items: flex-start;
    }

    &:not(:first-child) {
      margin: 0 0 0 70px;

      @media (max-width:767px) {
        margin: 50px 0 0;
      }
    }

    &:last-child {
      margin: 0 0 0 auto;

      .footer-col__links-item {
        margin: auto 0 26px;

        @media (max-width:767px) {
          margin: 5px 0 0;
        }
      }
    }

    @media (max-width:767px) {
      flex: 1 1 100%;
      align-items: center;

      &:not(:first-child) {
        margin: 50px 0 0;
      }
    }

    &__title {
      color: $white;

      @media (max-width:1200px) {
        font-size: 20px;
        line-height: 23px;
      }

      @media (max-width:767px) {
        text-align: center;
      }
    }

    &__links {
      margin: 24px 0 0;

      @media (max-width:992px) {
        margin: 15px 0 0;
      }

      @media (max-width:767px) {
        margin: 16px 0 0;
      }

      &-item {
        display: block;
        transition: all .3s ease;

        &:hover {
          color: $yellow;
        }

        @media (max-width:767px) {
          text-align: center;

          br {
            display: none;
          }
        }

        &:not(:first-child) {
          margin: 12px 0 0;

          @media (max-width:1200px) {
            margin: 16px 0 0;
          }
        }
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      height: 58px;

      @media (max-width:767px) {
        margin: 0 0 10px;
      }
    }
  }
}