.boost {
  margin: 270px 0 0;

  @media (max-width:1200px) {
    display: block;
    margin: -154px 0 0;
  }

  @media (max-width:880px) {
    display: block;
    margin: -224px 0 0;
  }

  @media (max-width:767px) {
    display: block;
    margin: -122px 0 0;
  }

  &-body {
    display: flex;
    background: $purple;
    border-radius: 43px 43px 0 0;
    padding: 75px 100px 114px 60px;

    @media (max-width:1200px) {
      padding: 60px;
      border-radius: 43px;
      margin: 0 0 50px;
      flex-wrap: wrap;
    }

    @media (max-width:767px) {
      flex-wrap: wrap;
      padding: 40px 30px;
      margin: 0 0 30px;
    }

    &__title {
      color: $white;

      br {
        &._mobile {
          display: none;

          &._desctop {
            display: block;
          }
        }
      }

      @media (max-width:1200px) {
        br {
          display: none;

          &._mobile {
            display: block;
          }
        }
      }

      @media (max-width:767px) {
        flex: 1 1 100%;
        font-size: 26px;
        line-height: 31px;
        text-align: center;

        br {
          display: none;
        }
      }
    }

    &__content {
      flex: 0 0 440px;
      margin: 0 0 0 auto;

      @media (max-width:1200px) {
        flex: 1 1 100%;
        margin: 30px 0 0;
      }

      @media (max-width:767px) {
        margin: 20px 0 0;
        text-align: center;
      }

      &-text {
        color: $white;
      }

      &-btn {
        margin: 50px 0 0;
        color: $white;
        border-color: $white;

        @media (max-width:1200px) {
          margin: 20px 0 0;
        }

        @media (max-width:767px) {
          margin: 20px 0 0;
        }

        &:hover {
          border-color: $gray;
          color: $black;
        }
      }
    }
  }
}