.everyday {
  padding: 452px 0 235px;

  @media (max-width:1200px) {
    padding: 280px 0 100px;
  }

  @media (max-width:992px) {
    padding: 250px 0 100px;
  }

  @media (max-width:767px) {
    padding: 175px 0 50px;
  }

  &-body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $black;
    border-radius: 43px;
    padding: 0 92px 0 0;
    min-height: 325px;

    @media (max-width:1200px) {
      border-radius: 28px;
    }

    @media (max-width:767px) {
      padding: 50px 0 300px;
      justify-content: center;
      overflow: hidden;
    }

    &__img {
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;

      @media (max-width:1200px) {
        width: 540px;
        left: -60px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      @media (max-width:767px) {
        width: 450px;
        padding: 50px 0 300px;
        justify-content: center;
        left: 50%;
        bottom: -350px;
        transform: translate(-50%, 0);
      }
    }

    &__title {
      color: $white;
      padding: 20px 14px 0 0;

      @media (max-width:1200px) {
        padding: 0;
      }
    }
  }
}