.everyday {
  padding: 452px 0 235px;

  @media (max-width:1200px) {
    padding: 210px 0 40px;
  }

  @media (max-width:767px) {
    padding: 90px 0 20px;
  }

  &-body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $black;
    border-radius: 43px;
    padding: 0 92px 0 0;
    min-height: 325px;

    @media (max-width:1200px) {
      min-height: 205px;
      padding: 10px 45px 0 0;
    }

    @media (max-width:767px) {
      padding: 35px 0 290px;
      justify-content: center;
      overflow: hidden;
    }

    &__img {
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;

      @media (max-width:1200px) {
        width: 390px;
        left: 0px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      @media (max-width:767px) {
        width: 385px;
        padding: 50px 0 300px;
        justify-content: center;
        left: 50%;
        bottom: -298px;
        transform: translate(-50%, 0);
      }
    }

    &__title {
      color: $white;
      padding: 20px 14px 0 0;

      @media (max-width:1200px) {
        padding: 0;
        font-size: 36px;
        line-height: 42px;
      }

      @media (max-width:767px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
}