.how {
  margin: 100px 0 0;

  @media (max-width:1200px) {
    transform: translate(0, -288px);
    margin: 0;
  }

  @media (max-width:767px) {
    transform: translate(0, -152px);
  }

  &__title {
    width: 100%;

    @media (max-width:1200px) {
      font-size: 38px;
      line-height: 45px;
    }

    @media (max-width:992px) {
      br {
        display: none;
      }
    }

    @media (max-width:767px) {
      font-size: 26px;
      line-height: 31px;
      text-align: center;
    }
  }

  &-body {
    display: flex;

    @media (max-width:767px) {
      flex-direction: column-reverse;
    }
  }

  &-col {
    position: relative;
    flex: 1 1 50%;

    @media (max-width:1200px) {

      &:nth-child(1) {
        padding: 0 364px 0 0;
      }
    }

    @media (max-width:767px) {

      &:nth-child(1) {
        padding: 0;
      }
    }


    @media (max-width:1200px) {
      flex: 1 1 100%;

      &:nth-child(2) {
        flex: 0 0 0px;
      }
    }

    &__img {
      pointer-events: none;
      position: relative;
      margin: 0 0 0 auto;
      width: 530px;
      height: 600px;

      &._mobile {
        display: none;
      }

      @media (max-width:1200px) {
        position: absolute;
        right: -118px;
        width: 430px;
        height: 486px;
        margin: 0 0 0 100px;
      }

      @media (max-width:767px) {
        position: absolute;
        top: -438px;
        right: auto;
        left: 31%;
        transform: translate(-50%, 0);
        width: 393px;
        height: 412px;
        margin: 0 0 0 100px;

        display: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: static;
        }

        &._mobile {
          display: block;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        right: -130px;

        @media (max-width:1200px) {
          width: 670px;
          object-fit: contain;
          bottom: 2px;
          right: -106px;
        }

        &._inner-img {
          bottom: 7px;
          left: -3px;
          transform: translate(0, -.5px);
          border-radius: 40px;
          overflow: hidden;
          width: 100%;
          height: 100%;

          @media (max-width:1200px) {
            transform: translate(0);
          }
        }
      }
    }
  }

  &-list {
    margin: 80px 0 0;

    @media (max-width:1200px) {
      margin: 20px 0 0;
    }

    @media (max-width:767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 14.5px;
    }

    &__item {
      cursor: pointer;
      display: flex;
      align-items: center;

      @media (max-width:767px) {
        width: 100%;

        &:nth-child(1) {
          width: calc(100% - 24px);
        }

        &:nth-child(2) {
          width: calc(100% - 13px);
        }

        &:nth-child(3) {
          width: calc(100% - 64px);
        }

        &:nth-child(4) {
          width: calc(100%);
        }
      }

      &:not(:first-child) {
        margin: 35px 0 0;

        @media (max-width:1200px) {
          margin: 30px 0 0;
        }
      }

      &:hover {
        .how-list__item-num {
          background-color: $purple;
          color: $white;
        }

        .how-list__item-text {
          color: $black;
        }
      }

      &-num {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        width: 65px;
        height: 65px;
        background: $gray;
        border-radius: 15px;
        transition: all .5s ease;

        font-weight: 700;
        font-size: 36px;
        line-height: 58px;
        text-align: center;
        text-transform: uppercase;
        color: #222625;
        padding: 0 0 5px;

        @media (max-width:1200px) {
          width: 50px;
          height: 50px;
          font-size: 30px;
          line-height: 35px;
        }

        @media (max-width:767px) {
          width: 48px;
          height: 48px;
          font-size: 32px;
          line-height: 48px;
          border-radius: 12px;
        }
      }

      &-text {
        margin: 0 0 0 30px;
        color: rgba(34, 38, 37, 0.65);
        transition: all .4s ease;

        br {
          &._mobile {
            display: none;
          }
        }

        @media (max-width:1200px) {
          margin: 0 0 0 15px;
          line-height: 21px;

          br {
            display: none;

            &._mobile {
              display: block;
            }
          }
        }

        @media (max-width:767px) {
          margin: 0 0 0 15px;

          br {
            display: none;
          }
        }

      }
    }
  }
}