<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div class="footer-row">
        <div class="footer-col">
          <h4 class="footer-col__title">
            О нас
          </h4>
          <div class="footer-col__links">
            <a href="" class="footer-col__links-item text text_md">
              Кто мы
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Пресса
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Часто задаваемые <br> вопросы
            </a>
          </div>
        </div>
        <div class="footer-col">
          <h4 class="footer-col__title">
            Информация
          </h4>
          <div class="footer-col__links">
            <a href="" class="footer-col__links-item text text_md">
              Вакансии
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Безопасность
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Справочный центр
            </a>
          </div>
        </div>
        <div class="footer-col">
          <h4 class="footer-col__title">
            наши Контакты
          </h4>
          <div class="footer-col__links">
            <a href="" class="footer-col__links-item text text_md">
              Контакты
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Обратная связь
            </a>
            <a href="" class="footer-col__links-item text text_md">
              Реквизиты
            </a>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-col__logo">
            <img src="./img/footer/logo.svg" alt="">
          </div>
          <a href="" class="footer-col__links-item text text_md">
            Политика <br> конфиденциальности
          </a>
        </div>
      </div>
      <div class="footer-row">
        <div class="text text_xs">
          *всю информацию по данному приложению вы можете получить здесь
        </div>
      </div>
    </div>
  </div>
</footer>