<header class="header">
	<div class="container">
		<div class="header-body">
			<a href="./index.html" class="header-body__logo">
				<img src="./img/header/logo.svg" alt="">
			</a>
			<div class="header-menu _mobile-hidden">
				<a href="" class="header-menu__item">
					О нас
				</a>
				<div class="header-menu__item _dropdown">
					Продукты
					<div class="_dropdown-body">
						<a href="./payout.html" class="_dropdown-body__item">
							Выплата заработной платы
						</a>
						<a href="" class="_dropdown-body__item">
							Работодателям
						</a>
						<a href="" class="_dropdown-body__item">
							Как это работает
						</a>
						<a href="" class="_dropdown-body__item">
							Часто задаваемые вопросы
						</a>
					</div>
				</div>
				<a href="" class="header-menu__item">
					Компаниям
				</a>
			</div>
			<div class="header-body__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header-body__ruby">
				<img src="./img/header/ruby.svg" alt="">
			</div>
		</div>
	</div>
</header>

<div class="header-menu _desctop-hidden _mobile-menu">
	<div class="header-menu__bg"></div>
	<div class="header-menu__content">
		<a href="" class="header-menu__content-item">
			О нас
		</a>
		<div class="header-menu__content-item _dropdown">
			Продукты
			<div class="_dropdown-body">
				<a href="./payout.html" class="_dropdown-body__item">
					Выплата заработной платы
				</a>
				<a href="" class="_dropdown-body__item">
					Работодателям
				</a>
				<a href="" class="_dropdown-body__item">
					Как это работает
				</a>
				<a href="" class="_dropdown-body__item">
					Часто задаваемые вопросы
				</a>
			</div>
		</div>
		<a href="" class="header-menu__content-item">
			Компаниям
		</a>
	</div>
</div>