.advantages {
  padding: 130px 0;
  background-color: $light-blue;

  @media (max-width:1200px) {
    padding: 50px 0;
  }

  @media (max-width:767px) {
    padding: 30px 0;
  }

  &-card {
    display: flex;
    background-color: $yellow;
    border-radius: 43px;
    padding: 65px 60px;
    min-height: 304px;

    @media (max-width:1200px) {
      padding: 60px 55px 60px 60px;
      flex-wrap: wrap;
      min-height: auto;
    }

    @media (max-width:767px) {
      padding: 40px 30px;
    }

    &:not(:first-child) {
      margin: 30px 0 0;

      @media (max-width:767px) {
        margin: 10px 0 0;
      }
    }

    &._purple {
      background-color: $purple;

      .advantages-card__title,
      .advantages-card__text,
      .advantages-card__btn {
        color: $white;
        border-color: $white;
      }

      .advantages-card__title,
      .advantages-card__text {
        margin: 20px 0 0;

        @media (max-width:1200px) {
          margin: 0;
        }
      }

      .advantages-card__btn {
        color: $white;
        border-color: $white;

        &:hover {
          color: $black;
          background-color: $white;
          border-color: $white;
        }
      }

      &.advantages-card {
        padding: 56px 60px !important;

        @media (max-width:1200px) {
          padding: 60px 55px 60px 60px !important;
        }


        @media (max-width:767px) {
          padding: 40px 30px !important;
        }
      }
    }

    &__title {
      @media (max-width:1200px) {
        max-width: 500px;

        br {
          display: none;
        }
      }

      @media (max-width:767px) {
        flex: 1 1 100%;
        text-align: center;
      }
    }

    &__content {
      flex: 0 1 500px;
      margin: 0 0 0 auto;
      padding: 10px 0 0;

      @media (max-width:1200px) {
        margin: 30px 0 0;
        flex: 1 1 100%;
        padding: 0;
      }

      @media (max-width:767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 100%;
        margin: 20px 0 0;
      }
    }

    &__text {
      @media (max-width:1200px) {
        br {
          display: none;
        }
      }

      @media (max-width:767px) {
        flex: 1 1 100%;
        text-align: center;
      }
    }

    &__btn {
      margin: 45px 0 0;

      &:hover {
        color: $white;
        background-color: $black;
        border-color: $black;
      }

      @media (max-width:1200px) {
        margin: 20px 0 0;
      }

      @media (max-width:767px) {
        flex: 0 0 auto;
        margin: 20px 0 0;
        padding: 0 50px;
      }
    }
  }
}