.why {
  padding: 196px 0 314px;

  @media (max-width:1200px) {
    padding: 92px 0 110px;
  }

  @media (max-width:767px) {
    padding: 50px 0;
  }

  &-body {
    padding: 10px 20px 0 0;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (max-width:767px) {
      justify-content: flex-start;
      padding: 0;
    }

    &__img {
      position: absolute;
      top: -162px;
      left: -160px;
      pointer-events: none;

      @media (max-width:1200px) {
        width: 630px;
        top: -87px;
        left: -231px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      @media (max-width:767px) {
        width: 466px;
        top: -61px;
        left: 54%;
        transform: translate(-50%, 0);
      }
    }

    &__content {

      @media (max-width:1200px) {
        margin: 0 0 0 264px;
      }

      @media (max-width:767px) {
        margin: 0;
        padding: 298px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-title {
        @media (max-width:767px) {
          text-align: center;
        }
      }

      &-subtitle {
        color: $purple;
        margin: 6px 0 0;

        @media (max-width:1200px) {
          margin: 10px 0 0;
        }

        @media (max-width:767px) {
          font-weight: 700;
          line-height: 21px;
          margin: 10px auto 0;
          max-width: 260px;
          text-align: center;
        }
      }

      &-text {
        margin: 35px 0 0;

        @media (max-width:1200px) {
          margin: 30px 0 0;

          br {
            display: none;
          }
        }

        @media (max-width:767px) {
          margin: 10px 0 0;
          text-align: center;

          br {
            &._mobile {
              display: block;
            }
          }
        }
      }

      &-btn {
        margin: 66px 0 0;

        @media (max-width:1200px) {
          margin: 30px 0 0;
        }

        @media (max-width:767px) {
          margin: 20px 0 0;
        }
      }
    }
  }
}