// -------- imports --------
@import "fonts";
@import "components/_fonts";
@import "components/_normalize.scss";
@import "components/_mixins.scss";
@import "components/_variables.scss";
@import "components/_variables.scss";
@import "components/_colors.scss";
@import "components/_ui.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "pages/index/_main.scss";
@import "pages/index/_reviews.scss";
@import "pages/index/_advantages.scss";
@import "pages/index/_why.scss";
@import "pages/payout/_everyday.scss";
@import "pages/payout/_benefits.scss";
@import "pages/payout/_how.scss";
@import "pages/payout/_boost.scss";

@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';

::selection {}

body {
  overflow: auto;
  font-family: 'Raleway';

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width:1200px) {
    padding: 0 40px;
  }

  @media (max-width:767px) {
    padding: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}